USE [master]
GO
/****** Object:  Database [TocHanhGameDB]    Script Date: 30/04/2026 2:17:09 SA ******/
CREATE DATABASE [TocHanhGameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TocHanhGameDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MINH\MSSQL\DATA\TocHanhGameDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TocHanhGameDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MINH\MSSQL\DATA\TocHanhGameDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TocHanhGameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TocHanhGameDB]
GO
USE [TocHanhGameDB]
GO
/****** Object:  Table [dbo].[Leaderboard]    Script Date: 30/04/2026 2:17:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaderboard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](50) NOT NULL,
	[Score] [int] NOT NULL,
	[PlayDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Leaderboard] ON 

INSERT [dbo].[Leaderboard] ([Id], [PlayerName], [Score], [PlayDate]) VALUES (1, N'Anh Gi?i Phóng', 1975, CAST(N'2026-04-29T10:17:47.787' AS DateTime))
INSERT [dbo].[Leaderboard] ([Id], [PlayerName], [Score], [PlayDate]) VALUES (2, N'Ngu?i Nông Dân', 304, CAST(N'2026-04-29T10:17:47.787' AS DateTime))
INSERT [dbo].[Leaderboard] ([Id], [PlayerName], [Score], [PlayDate]) VALUES (3, N'Minh', 20, CAST(N'2026-04-29T12:01:15.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Leaderboard] OFF
GO
ALTER TABLE [dbo].[Leaderboard] ADD  DEFAULT (getdate()) FOR [PlayDate]
GO
USE [master]
GO
